<html>
<head>
<title>$title$</title>
<link rel="stylesheet" href="$root_path$$css$">
<meta http-equiv="Content-Type" content="text/html">
</head>

<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>


<article class="markdown-body">
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<body>
<!-- <div> -->
<!--     <a href="$root_path$index.html">Home</a> > $title$ -->
<!--     </div> -->
<!-- <hr /> -->
$body$
<hr />
<div>
    <a href="$root_path$index.html">Home</a> > $title$
      </ol>
    </div>
</body>
</article>
</html>
