[user]
	name = RebornHugo
	; email = hugo@nuaa.edu.cn
	email = kiss152535@gmail.com
; [url "git@github.com:"]
; 	insteadOf = https://github.com/
[core]
	editor = nvim
  quotePath = false ; for nvim telescope with filename containing emoji: https://github.com/nvim-telescope/telescope.nvim/issues/2900
 	; excludesfile = /Users/hugoreborn/.gitignore
  ; pager = delta
; [interactive]
	; diffFilter = delta --color-only
[color]
	ui = true
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	path = nvim
[alias]
  new = checkout -b
  ; llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
