#doc: https://github.com/lra/mackup/tree/master/doc
[storage]
engine = file_system
path = Workspace/Coding/dotfiles
directory = mackup


[applications_to_sync]
git
bat
alacritty
htop
zsh
fish
yabai
skhd
starship
ideavim
vim
neovim
tmux
neofetch

# custom app in .mackup folder
bin
lazygit
sioyek
tmux_utils
zsh_utils
lf

[applications_to_ignore]
ssh
